# Core functionality - changes here should be rare!
/src/app.py                   @Phupyae
/src/backend/database.py      @Phupyae
/src/backend/routers/auth.py  @Phupyae

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Phupyae
